<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> <%= pageName %></title>
    <link rel="stylesheet" type="text/css" href="/page_styles.css" />

</head>
<body>
    <h1> This is the home page </h1>
    <div>
        <h2>Select your choice </h2>
    </div>

    <table class="center">
        <tr>

            <td> <a href="/course">COMP-308</a> </td>
        </tr>
        <tr>
          <td><a href="/about">About course</a></td>
      </tr>
      <tr>
        <td><a href="/help">Help course</a></td>
      </tr>
        

    </table>



</body>
</html>