<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="utf-8" />
  <title>Index</title>
</head>

<body>

  <h2>Course Evaluation</h2><br/>
  <a href="/signup">Sign Up as student</a><br/>
  <a href="/signin">Sign In as student</a><br/>
  <a href="/allStudents">Display all Students</a><br/> 
  <a href="/commentsByStudent">Display Comments by student</a><br/>

</body>

</html>