<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>SignUp as a Student</title>
</head>

<body>
    <form method="post" action="/signup">
        <h2>SignUp as a Student</h2>
        <table>
            <tr>
                <td>
                    First Name:
                </td>
                <td>
                    <input type="text" size="30" placeholder="First Name" name="firstName"><br /><br />
                </td>
            </tr>
            <tr>
                <td>
                    Last Name:
                </td>
                <td>
                    <input type="text" size="30" placeholder="Last Name" name="lastName"><br /><br />
                </td>
            </tr>
            <tr>
                <td>
                    Email:
                </td>
                <td>
                    <input type="text" size="30" placeholder="Enter your email" name="email"><br /><br />
                </td>
            </tr>
            <tr>
                <td>
                    Password:
                </td>
                <td>
                    <input type="password" size="30" placeholder="Enter your password" name="password"><br /><br />
                </td>
            </tr>
            <tr>
                <td>
                    Favorite Soccer Team:
                </td>
                <td>
                    <input type="text" size="30" placeholder="Enter your favorite Soccer Team" name="soccerTeam"><br /><br />
                </td>
            </tr>
            <tr>
                    <td>
                        GPA:
                    </td>
                    <td>
                        <input type="text" size="30" placeholder="Enter your GPA" name="gpa"><br /><br />
                    </td>
                </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Save" name="submit"
                        style="background-color: green; color: white; width: 100%;">
                </td>
            </tr>
        </table>
        <a href="/">Back to Index</a>
    </form>
</body>

</html>