<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> Other View</title>

	  <link rel="stylesheet" href="css/viewstyles.css">

</head>
<body>
    <marquee> <%= loginMessage %></marquee>
</body>
</html>