<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/display.css" />

</head>
<body style="background-color:<%= bgcolor %>">
    

    <div class="container">
        <table class="center">
            <tr>
                <td>
                    <!-- Load the static image file  -->
                    <img class="center" src="img/courselogo.png" alt="Logo">
                </td>
            </tr>
            <tr>
                <td> <h2> Authentication Using JWT </h2> </td>
            </tr>

        </table>
    </div>
		
	<br>

</body>
</html>